<div class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <!-- First Name Validation -->
    <div class="form-section">
      <label for="firstName">First Name</label>
      <input id="firstName" type="text" formControlName="firstName" />
      <div
        class="alert"
        *ngIf="
          registerForm.get('firstName')?.invalid &&
          (registerForm.get('firstName')?.dirty ||
            registerForm.get('firstName')?.touched)
        "
      >
        <small *ngIf="registerForm.get('firstName')?.errors?.['required']"
          >First Name is required.</small
        >
        <small *ngIf="registerForm.get('firstName')?.errors?.['minlength']"
          >First Name must be at least 4 characters long.</small
        >
      </div>
    </div>

    <!-- Last Name Validation -->
    <div class="form-section">
      <label for="lastName">Last Name</label>
      <input id="lastName" type="text" formControlName="lastName" />
      <div
        class="alert"
        *ngIf="
          registerForm.get('lastName')?.invalid &&
          (registerForm.get('lastName')?.dirty ||
            registerForm.get('lastName')?.touched)
        "
      >
        <small *ngIf="registerForm.get('lastName')?.errors?.['required']"
          >Last Name is required.</small
        >
        <small *ngIf="registerForm.get('lastName')?.errors?.['minlength']"
          >Last Name must be at least 4 characters long.</small
        >
      </div>
    </div>

    <!-- Email Validation -->
    <div class="form-section">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" />
      <div
        class="alert"
        *ngIf="
          registerForm.get('email')?.invalid &&
          (registerForm.get('email')?.dirty ||
            registerForm.get('email')?.touched)
        "
      >
        <small *ngIf="registerForm.get('email')?.errors?.['required']"
          >Email is required.</small
        >
        <small *ngIf="registerForm.get('email')?.errors?.['email']"
          >Invalid email format.</small
        >
      </div>
    </div>

    <!-- Phone Number Validation -->
    <div class="form-section">
      <label for="phoneNumber">Phone Number</label>
      <input id="phoneNumber" type="text" formControlName="phoneNumber" />
      <div
        class="alert"
        *ngIf="
          registerForm.get('phoneNumber')?.invalid &&
          (registerForm.get('phoneNumber')?.dirty ||
            registerForm.get('phoneNumber')?.touched)
        "
      >
        <small *ngIf="registerForm.get('phoneNumber')?.errors?.['required']"
          >Phone number is required.</small
        >
        <small *ngIf="registerForm.get('phoneNumber')?.errors?.['pattern']"
          >Phone number must be 10 digits.</small
        >
      </div>
    </div>

    <!-- Password Validation -->
    <div class="form-section">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
      <div
        class="alert"
        *ngIf="
          registerForm.get('password')?.invalid &&
          (registerForm.get('password')?.dirty ||
            registerForm.get('password')?.touched)
        "
      >
        <small *ngIf="registerForm.get('password')?.errors?.['required']"
          >Password is required.</small
        >
        <small *ngIf="registerForm.get('password')?.errors?.['minlength']"
          >Password must be at least 8 characters long.</small
        >
        <small *ngIf="registerForm.get('password')?.errors?.['pattern']"
          >Password must include uppercase, lowercase, number, and special
          character.</small
        >
      </div>
    </div>
    

    <!-- Submit Button -->
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</div>
