<div class="dashboard">
  <!-- Sidebar -->

  <!-- Main Content -->
  <div class="main-content">
    <!-- Navbar -->


    <main>
      <!-- Dashboard Header -->
      <div class="header">
        <div class="left">
          <h1>Dashboard</h1>
          <ul class="breadcrumb">
            <li><a href="#">Analytics</a></li>
            <li><a href="#" class="active">Shop</a></li>
          </ul>
        </div>
        <a href="#" class="report">
          <i class="bx bx-cloud-download"></i>
          <span>Download CSV</span>
        </a>
      </div>

      <!-- Insights -->
      <ul class="insights">
        <li>
          <i class="bx bx-calendar-check"></i>
          <span class="info">
            <h3>1,074</h3>
            <p>Paid Orders</p>
          </span>
        </li>
        <li>
          <i class="bx bx-show-alt"></i>
          <span class="info">
            <h3>3,944</h3>
            <p>Site Visits</p>
          </span>
        </li>
        <li>
          <i class="bx bx-line-chart"></i>
          <span class="info">
            <h3>14,721</h3>
            <p>Searches</p>
          </span>
        </li>
        <li>
          <i class="bx bx-dollar-circle"></i>
          <span class="info">
            <h3>$6,742</h3>
            <p>Total Sales</p>
          </span>
        </li>
      </ul>

      <!-- Recent Orders and Reminders -->
      <div class="bottom-data">
      </div>
    </main>
  </div>
</div>
