<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="display-4 mb-0">Programs List</h2>
    <input
      type="text"
      class="form-control w-50"
      placeholder="Search by Program Name, Level, or Description"
      [(ngModel)]="searchText"
    />
    <button class="btn btn-success" (click)="addProgram()">Add Program</button>
  </div>

  <div class="program-container">
    <div
      class="program-card"
      *ngFor="let program of programs | searchFilter: searchText"
    >
      <h3>{{ program.name }}</h3>
      <p><strong>Duration:</strong> {{ program.duration }}</p>
      <p><strong>Level:</strong> {{ program.level }}</p>
      <p><strong>Description:</strong> {{ program.description }}</p>
      <div class="card-actions">
        <button
          class="btn btn-primary"
          (click)="editProgram(program.id)"
        >
          Edit
        </button>
        <button
          class="btn btn-danger"
          (click)="deleteProgram(program.id)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
